/* .article {
    display: flex;
    position: relative;
}

.article aside {
    min-width: 300px;
    width: 300px;
    padding: 14px 7px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.article.section {
    margin-left: 300px;
    height: (loovh -150px);
    background-color: cornsilk;

} */
.container {
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.container aside {
    min-width: 300px;
    width: 300px;
    height: auto;
    padding: 16px 8px;
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.container .section {
    margin-left: 310px;
    height: calc(100vh - 80px);
    background-color: rgb(236, 187, 63);
    overflow-y: scroll;
}

aside nav ul {
    display: flex;
    flex-direction: column;
}